aws_region    = "us-east-1"
instance_type = "t3.micro"
key_name      = "final-docker"                         # Key pair name (no .pem)
my_ip         = "51.21.254.142/32"                          # Your public IPv4 address
repo_url      = "https://github.com/abubakr-developer/crudwithdocker.git"    # Public Git repository URL
